.Schema{
  height: 100%;
  display: flex;
  flex-direction: column;
}

textarea{
  width: 100%;
  flex: auto;
  background: transparent;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid;
  border-radius: 2px;
}