.custom-scrollbar{
  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: #494b4c;
    border: 0 none #ffffff;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-thumb:hover {
    //background: #ffffff;
  }

  &::-webkit-scrollbar-thumb:active {
    //background: #000;
  }

  &::-webkit-scrollbar-track {
    background: #d2d2d2;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-track:hover {
    //background: #000;
  }

  &::-webkit-scrollbar-track:active {
    //background: #000;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.dragNdrop{
  height: 600px;
  .lists{
    display: flex;
    width: 100%;
  }
  .list{
    height: 600px;
    flex: 1;
  }
  .list-item{
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    border: 1px solid;
    margin-bottom: 10px;
    color: #fff;
    background: #999999;
  }
}

.containewr {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.box {
  border: 3px solid #666;
  background-color: #ddd;
  border-radius: .5em;
  padding: 10px;
  cursor: move;
}

.container{
  width: 1200px;
  max-width: 100%;
  max-height: 100vh;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;

  .col{
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .fields-list {
    width: 240px;
    .FieldsList{
      height: 100vh;
      display: flex;
      flex-direction: column;
      .all-field-list{
        flex: auto;
        overflow-y: auto;
        padding-bottom: 30px;
      }
    }
  }
  .selected-fields{
    width: 400px;
    padding-left: 20px;
    padding-right: 25px;
    box-sizing: border-box;
  }
  .generated-schema{
    flex: auto;
    padding-bottom: 30px;
  }
}

.all-field-list{
  display: flex;
  flex-direction: column;
}
.field-item-wrap{
  margin-bottom: 10px;
}
.field-item{
  width: 200px;
  text-align: center;
  padding: 5px 20px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 5px;
  background: #fff;
  p{
    border: 2px solid;
    margin: 0;
  }
}

.field-settings{
  label{
    width: 100%;
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: -6px;
    margin-top: 10px;
  }
}


