.container{
  width: 1200px;
  max-width: 100%;
  max-height: 100vh;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;

  .col{
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .fields-list {
    width: 240px;
    .FieldsList{
      height: 100vh;
      display: flex;
      flex-direction: column;
      .all-field-list{
        flex: auto;
        overflow-y: auto;
        padding-bottom: 30px;
      }
    }
  }
  .selected-fields{
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .generated-schema{
    flex: auto;
    padding-bottom: 30px;
  }
}

.all-field-list{
  display: flex;
  flex-direction: column;
}
.field-item-wrap{
  padding-top: 5px;
  padding-bottom: 5px;
}
.field-item{
  width: 200px;
  text-align: center;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 5px;
  background: #fff;
  p{
    border: 2px solid;
    margin: 0;
  }
}

.field-settings{
  label{
    width: 100%;
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: -6px;
    margin-top: 10px;
  }
}

//.SelectedFields>div{
//  min-height: 300px;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  padding: 10px 5px;
//  border-radius: 10px;
//  border-width: 2px;
//  border-style: dashed;
//  width: 220px;
//}