/**
    Colors
 */
$color1: rgb(32, 34, 35);
$color2: #4a4a4a;
$background1: #f4f6f8;
$shadow: 0 1px 3px 0 rgba(64,64,64,.24);

.shadow{
  box-shadow: 0 1px 3px 0 rgba(64,64,64,.24);
}
body{
  font-family: 'Roboto', sans-serif;
  background: $background1;
  color: $color2;
}


.heading{
  color: $color1;
  cursor: default;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 20px;
}

input{
  max-width: 100%;
  box-sizing: border-box;
  padding: 5px 8px;
  border: 1px solid;
  margin-top: 10px;
}
input::placeholder{
  opacity: .4;
}